USE [CLOTHING_STORE]
GO
/****** Object:  Table [dbo].[BANG_MAU_PENDING_DELETE]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_MAU_PENDING_DELETE](
	[MA_MAU] [varchar](15) NOT NULL,
	[TEN_MAU] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANG_MAU] PRIMARY KEY CLUSTERED 
(
	[MA_MAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANG_SIZE]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_SIZE](
	[MA_SIZE] [varchar](15) NOT NULL,
	[TEN_SIZE] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANG_SIZE] PRIMARY KEY CLUSTERED 
(
	[MA_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_DAT_HANG_PENDING_DELETE]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_DAT_HANG_PENDING_DELETE](
	[MA_DDH] [varchar](15) NOT NULL,
	[MA_CT_SP] [varchar](15) NOT NULL,
	[SO_LUONG] [int] NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DDH] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_GIO_HANG]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_GIO_HANG](
	[ID_GH] [int] NOT NULL,
	[MA_CT_SP] [varchar](15) NOT NULL,
	[SO_LUONG] [int] NULL,
	[GIA] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_GIO_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_GH] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_KHUYEN_MAI]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_KHUYEN_MAI](
	[MA_KM] [varchar](15) NOT NULL,
	[MA_CT_SP] [varchar](15) NOT NULL,
	[PHAN_TRAM_GIAM] [smallint] NULL,
 CONSTRAINT [PK_CHI_TIET_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_KM] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_NHAP]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_NHAP](
	[MA_PN] [varchar](15) NOT NULL,
	[MA_CT_SP] [varchar](15) NOT NULL,
	[SO_LUONG] [int] NULL,
	[GIA] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_PN] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_TRA]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_TRA](
	[MA_PT] [varchar](15) NOT NULL,
	[MA_CT_SP] [varchar](15) NOT NULL,
	[SO_LUONG] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_TRA] PRIMARY KEY CLUSTERED 
(
	[MA_PT] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_SAN_PHAM]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SAN_PHAM](
	[MA_CT_SP] [varchar](15) NOT NULL,
	[MA_SP] [varchar](15) NOT NULL,
	[MA_SIZE] [varchar](15) NOT NULL,
	[GIA] [int] NULL,
	[SL_TON] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG_PENDING_DELETE]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG_PENDING_DELETE](
	[MA_DDH] [varchar](15) NOT NULL,
	[MA_NCC] [varchar](15) NOT NULL,
	[NGAY_TAO] [datetime] NULL,
	[MA_NV] [varchar](15) NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIO_HANG]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIO_HANG](
	[ID_GH] [int] IDENTITY(1,1) NOT NULL,
	[MA_KH] [varchar](15) NULL,
	[HO_TEN] [nvarchar](60) NULL,
	[SDT] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[NGAY_TAO] [datetime] NULL,
	[DIA_CHI] [nvarchar](200) NULL,
	[TRANG_THAI] [smallint] NULL,
	[MA_NV_DUYET] [varchar](15) NULL,
	[MA_NV_GIAO] [varchar](15) NULL,
 CONSTRAINT [PK_GIO_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_GH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [varchar](15) NOT NULL,
	[ID_GH] [int] NOT NULL,
	[NGAY_TAO] [datetime] NOT NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [varchar](15) NOT NULL,
	[HO_TEN] [nvarchar](60) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIA_CHI] [nvarchar](200) NULL,
	[MA_SO_THUE] [varchar](15) NULL,
	[MA_TK] [varchar](15) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MA_KM] [varchar](15) NOT NULL,
	[MA_NV] [varchar](15) NULL,
	[NGAY_AP_DUNG] [datetime] NULL,
 CONSTRAINT [PK_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP_PENDING_DELETE]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP_PENDING_DELETE](
	[MA_NCC] [varchar](15) NOT NULL,
	[TEN_NCC] [nvarchar](50) NOT NULL,
	[DIA_CHI] [nvarchar](200) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [varchar](15) NOT NULL,
	[HO_TEN] [nvarchar](60) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIA_CHI] [nvarchar](200) NULL,
	[CMND] [varchar](10) NULL,
	[MA_TK] [varchar](15) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MA_PN] [varchar](15) NOT NULL,
	[NGAY_TAO] [datetime] NULL,
	[MA_NV] [varchar](15) NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_TRA]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_TRA](
	[MA_PT] [varchar](15) NOT NULL,
	[MA_HD] [varchar](15) NOT NULL,
	[NGAY_TAO] [datetime] NULL,
	[MA_NV] [varchar](15) NULL,
 CONSTRAINT [PK_PHIEU_TRA] PRIMARY KEY CLUSTERED 
(
	[MA_PT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MA_QUYEN] [varchar](15) NOT NULL,
	[TEN_QUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MA_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SP] [varchar](15) NOT NULL,
	[TEN_SP] [nvarchar](150) NULL,
	[MA_TL] [varchar](15) NULL,
	[LUOT_XEM] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[HINH_ANH] [varchar](200) NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MA_TK] [varchar](15) NOT NULL,
	[MAT_KHAU] [varchar](30) NULL,
	[MA_QUYEN] [varchar](15) NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THE_LOAI]    Script Date: 10/07/2022 12:46:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_LOAI](
	[MA_TL] [varchar](15) NOT NULL,
	[TEN_TL] [nvarchar](50) NULL,
	[CAP_TL] [smallint] NULL,
	[MA_TL_CHA] [varchar](15) NULL,
 CONSTRAINT [PK_THE_LOAI] PRIMARY KEY CLUSTERED 
(
	[MA_TL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANG_SIZE] ([MA_SIZE], [TEN_SIZE]) VALUES (N'S01', N'S')
INSERT [dbo].[BANG_SIZE] ([MA_SIZE], [TEN_SIZE]) VALUES (N'S02', N'M')
INSERT [dbo].[BANG_SIZE] ([MA_SIZE], [TEN_SIZE]) VALUES (N'S03', N'L')
GO
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP], [MA_SP], [MA_SIZE], [GIA], [SL_TON]) VALUES (N'CTSP0001', N'SP0000000000001', N'S01', 200000, 20)
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP], [MA_SP], [MA_SIZE], [GIA], [SL_TON]) VALUES (N'CTSP0002', N'SP0000000000001', N'S02', 210000, 15)
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP], [MA_SP], [MA_SIZE], [GIA], [SL_TON]) VALUES (N'CTSP0003', N'SP0000000000001', N'S03', 220000, 19)
GO
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MA_TL], [LUOT_XEM], [NGAY_TAO], [HINH_ANH]) VALUES (N'SP0000000000001', N'Áo thun Rebook', N'TL02', 20, CAST(N'2022-07-04T00:00:00.000' AS DateTime), N'https://iili.io/jaMN1f.jpg')
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MA_TL], [LUOT_XEM], [NGAY_TAO], [HINH_ANH]) VALUES (N'SP0000000000002', N'Áo thun Adidas', N'TL02', 11, CAST(N'2022-07-04T00:00:00.000' AS DateTime), N'https://iili.io/jaMwqG.jpg')
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MA_TL], [LUOT_XEM], [NGAY_TAO], [HINH_ANH]) VALUES (N'SP0000000000003', N'Quần kaki Lacoste', N'TL05', 12, CAST(N'2022-07-06T00:00:00.000' AS DateTime), N'https://iili.io/jaMhss.jpg')
GO
INSERT [dbo].[THE_LOAI] ([MA_TL], [TEN_TL], [CAP_TL], [MA_TL_CHA]) VALUES (N'TL01', N'Áo', 1, NULL)
INSERT [dbo].[THE_LOAI] ([MA_TL], [TEN_TL], [CAP_TL], [MA_TL_CHA]) VALUES (N'TL02', N'Áo thun', 2, N'TL01')
INSERT [dbo].[THE_LOAI] ([MA_TL], [TEN_TL], [CAP_TL], [MA_TL_CHA]) VALUES (N'TL03', N'Áo khoác', 2, N'TL01')
GO
/****** Object:  Index [UQ_ID_GH_HOA_DON]    Script Date: 10/07/2022 12:46:26 am ******/
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [UQ_ID_GH_HOA_DON] UNIQUE NONCLUSTERED 
(
	[ID_GH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MA_TK_KHACH_HANG]    Script Date: 10/07/2022 12:46:26 am ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [UQ_MA_TK_KHACH_HANG] UNIQUE NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MA_TK]    Script Date: 10/07/2022 12:46:26 am ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UQ_MA_TK] UNIQUE NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_GIO_HANG_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CT_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG] CHECK CONSTRAINT [FK_CHI_TIET_GIO_HANG_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_GIO_HANG_GIO_HANG] FOREIGN KEY([ID_GH])
REFERENCES [dbo].[GIO_HANG] ([ID_GH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG] CHECK CONSTRAINT [FK_CHI_TIET_GIO_HANG_GIO_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_KHUYEN_MAI_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CT_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_KHUYEN_MAI] CHECK CONSTRAINT [FK_CHI_TIET_KHUYEN_MAI_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_KHUYEN_MAI_KHUYEN_MAI] FOREIGN KEY([MA_KM])
REFERENCES [dbo].[KHUYEN_MAI] ([MA_KM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_KHUYEN_MAI] CHECK CONSTRAINT [FK_CHI_TIET_KHUYEN_MAI_KHUYEN_MAI]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CT_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP] FOREIGN KEY([MA_PN])
REFERENCES [dbo].[PHIEU_NHAP] ([MA_PN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_TRA_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CT_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_TRA_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_TRA_PHIEU_TRA] FOREIGN KEY([MA_PT])
REFERENCES [dbo].[PHIEU_TRA] ([MA_PT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_TRA_PHIEU_TRA]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_BANG_SIZE] FOREIGN KEY([MA_SIZE])
REFERENCES [dbo].[BANG_SIZE] ([MA_SIZE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_BANG_SIZE]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_SAN_PHAM]
GO
ALTER TABLE [dbo].[GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_GIO_HANG_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIO_HANG] CHECK CONSTRAINT [FK_GIO_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_GIO_HANG_NHAN_VIEN] FOREIGN KEY([MA_NV_DUYET])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[GIO_HANG] CHECK CONSTRAINT [FK_GIO_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_GIO_HANG_NHAN_VIEN1] FOREIGN KEY([MA_NV_GIAO])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[GIO_HANG] CHECK CONSTRAINT [FK_GIO_HANG_NHAN_VIEN1]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_GIO_HANG] FOREIGN KEY([ID_GH])
REFERENCES [dbo].[GIO_HANG] ([ID_GH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_GIO_HANG]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_TAI_KHOAN] FOREIGN KEY([MA_TK])
REFERENCES [dbo].[TAI_KHOAN] ([MA_TK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_TAI_KHOAN]
GO
ALTER TABLE [dbo].[KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYEN_MAI_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHUYEN_MAI] CHECK CONSTRAINT [FK_KHUYEN_MAI_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_TAI_KHOAN] FOREIGN KEY([MA_TK])
REFERENCES [dbo].[TAI_KHOAN] ([MA_TK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_TRA_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_TRA] CHECK CONSTRAINT [FK_PHIEU_TRA_HOA_DON]
GO
ALTER TABLE [dbo].[PHIEU_TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_TRA_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_TRA] CHECK CONSTRAINT [FK_PHIEU_TRA_NHAN_VIEN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_THE_LOAI] FOREIGN KEY([MA_TL])
REFERENCES [dbo].[THE_LOAI] ([MA_TL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_THE_LOAI]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_QUYEN] FOREIGN KEY([MA_QUYEN])
REFERENCES [dbo].[QUYEN] ([MA_QUYEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_QUYEN]
GO
