USE [CLOTHING_STORE]
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_KiemTraDotKhuyenMaiDangKhuyenMai]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UDF_KiemTraDotKhuyenMaiDangKhuyenMai] (@MA_KM VARCHAR(15)) 
    RETURNS INT
AS
    BEGIN 
	DECLARE @ngayBatDau DATETIME
	DECLARE @ngayKetThuc DATETIME
	DECLARE @ngayHienTai DATETIME = GETDATE()
		IF EXISTS(SELECT * FROM dbo.KHUYEN_MAI WHERE MA_KM=@MA_KM)
		BEGIN
			SELECT @ngayBatDau = NGAY_AP_DUNG, @ngayKetThuc=DATEADD(DAY, THOI_GIAN, @ngayBatDau) FROM dbo.KHUYEN_MAI WHERE MA_KM=@MA_KM
			IF(@ngayHienTai>@ngayBatDau AND @ngayHienTai<=@ngayKetThuc)
				RETURN 1
			ELSE
				RETURN 0
		END
	RETURN 0
	END 

--SELECT dbo.UDF_KiemTraDotKhuyenMaiDangKhuyenMai('KM0001')
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LayGiaCuaChiTietSP]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UDF_LayGiaCuaChiTietSP]
(
    @MA_CT_SP INT
)
RETURNS INT
AS
BEGIN
    DECLARE @result INT = 0;
   
        SET @result =
        (
            SELECT TOP (1)
                   TDG.GIA
            FROM dbo.THAY_DOI_GIA TDG
            WHERE TDG.MA_CT_SP = @MA_CT_SP
            ORDER BY TDG.NGAY_THAY_DOI DESC
        );
    RETURN @result;
END;

--SELECT dbo.[UDF_LayGiaNhoNhatCuaSizeTrongThayDoiGiaCuaSanPham] ('SP0000000000001')
--SELECT dbo.[UDF_LayGiaLonNhatCuaSizeTrongThayDoiGiaCuaSanPham] ('SP0000000000001')
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LayGiaLonNhatTrongThayDoiGiaCuaSanPham]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UDF_LayGiaLonNhatTrongThayDoiGiaCuaSanPham]
(
    @MA_SP VARCHAR(15)
)
RETURNS INT
AS
BEGIN
    DECLARE @result INT = 0;
    DECLARE @temp INT = 0;

    DECLARE @MA_CT_SP INT;

    DECLARE cursorMaCTSP CURSOR FOR -- khai báo con trỏ cursorMaCTSP
    SELECT CTSP.MA_CT_SP
    FROM
    (
        SELECT CTSP.MA_CT_SP
        FROM
        (SELECT SP.MA_SP FROM dbo.SAN_PHAM SP WHERE SP.MA_SP = @MA_SP) SP
            INNER JOIN dbo.CHI_TIET_SAN_PHAM CTSP
                ON CTSP.MA_SP = SP.MA_SP
    ) CTSP; -- dữ liệu trỏ tới
    OPEN cursorMaCTSP; -- Mở con trỏ

    FETCH NEXT FROM cursorMaCTSP -- Đọc dòng đầu tiên
    INTO @MA_CT_SP;

    IF (@@FETCH_STATUS = 0)
        SET @result =
    (
        SELECT TOP (1)
               TDG.GIA
        FROM dbo.THAY_DOI_GIA TDG
        WHERE TDG.MA_CT_SP = @MA_CT_SP
        ORDER BY TDG.NGAY_THAY_DOI DESC
    )   ;
    WHILE @@FETCH_STATUS = 0 --vòng lặp WHILE khi đọc Cursor thành công
    BEGIN

        SET @temp =
        (
            SELECT TOP (1)
                   TDG.GIA
            FROM dbo.THAY_DOI_GIA TDG
            WHERE TDG.MA_CT_SP = @MA_CT_SP
            ORDER BY TDG.NGAY_THAY_DOI DESC
        );
        IF (@result < @temp)
            SET @result = @temp;

        FETCH NEXT FROM cursorMaCTSP -- Đọc dòng tiếp
        INTO @MA_CT_SP;
    END;

    CLOSE cursorMaCTSP; -- Đóng Cursor
    DEALLOCATE cursorMaCTSP; -- Giải phóng tài nguyên
    RETURN @result;
END;

--SELECT dbo.[UDF_LayTongSoLuongTonCuaMotSP] ('SP0000000000001')
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LayGiaNhoNhatDaGiamGiaTrongThayDoiGiaCuaSanPham]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UDF_LayGiaNhoNhatDaGiamGiaTrongThayDoiGiaCuaSanPham]
(
    @MA_SP VARCHAR(15)
)
RETURNS INT
AS
BEGIN
    DECLARE @result INT = 0;
    DECLARE @temp INT = 0;
    DECLARE @MA_CT_SP INT;
	DECLARE @MA_KM VARCHAR(15)
		IF EXISTS(SELECT * FROM dbo.CHI_TIET_KHUYEN_MAI WHERE MA_SP = @MA_SP AND dbo.UDF_KiemTraDotKhuyenMaiDangKhuyenMai(MA_KM) = 1)
		BEGIN
			SET @MA_KM = (SELECT MA_KM FROM dbo.CHI_TIET_KHUYEN_MAI WHERE MA_SP = @MA_SP)
		END

    DECLARE cursorMaCTSP CURSOR FOR -- khai báo con trỏ cursorMaCTSP
    SELECT CTSP.MA_CT_SP
    FROM
    (
        SELECT CTSP.MA_CT_SP
        FROM
        (SELECT SP.MA_SP FROM dbo.SAN_PHAM SP WHERE SP.MA_SP = @MA_SP) SP
            INNER JOIN dbo.CHI_TIET_SAN_PHAM CTSP
                ON CTSP.MA_SP = SP.MA_SP
    ) CTSP; -- dữ liệu trỏ tới
    OPEN cursorMaCTSP; -- Mở con trỏ

    FETCH NEXT FROM cursorMaCTSP -- Đọc dòng đầu tiên

    INTO @MA_CT_SP;
    --init result đầu tiên, vì nếu không thì khi vào while temp đều lớn hơn 0, nên result luôn = 0
    IF (@@FETCH_STATUS = 0)
        SET @result =
    (
        SELECT TOP (1)
               TDG.GIA
        FROM dbo.THAY_DOI_GIA TDG
        WHERE TDG.MA_CT_SP = @MA_CT_SP
        ORDER BY TDG.NGAY_THAY_DOI DESC
    )   ;

    WHILE @@FETCH_STATUS = 0 --vòng lặp WHILE khi đọc Cursor thành công
    BEGIN
        SET @temp =
        (
            SELECT TOP (1)
                   TDG.GIA
            FROM dbo.THAY_DOI_GIA TDG
            WHERE TDG.MA_CT_SP = @MA_CT_SP
            ORDER BY TDG.NGAY_THAY_DOI DESC
        );
        IF (@result > @temp)
            SET @result = @temp;

        FETCH NEXT FROM cursorMaCTSP -- Đọc dòng tiếp
        INTO @MA_CT_SP;
    END;

    CLOSE cursorMaCTSP; -- Đóng Cursor
    DEALLOCATE cursorMaCTSP; -- Giải phóng tài nguyên

	IF(dbo.UDF_KiemTraDotKhuyenMaiDangKhuyenMai(@MA_KM)=1)
			BEGIN
				DECLARE @phanTramGiam int = 0; 
				SET @phanTramGiam = (SELECT PHAN_TRAM_GIAM FROM dbo.CHI_TIET_KHUYEN_MAI WHERE MA_SP = @MA_SP)
				SET @result = @result - @result * @phanTramGiam/100
			END
    RETURN @result;
END;

--SELECT dbo.[UDF_LayGiaNhoNhatDaGiamGiaTrongThayDoiGiaCuaSanPham] ('SP0000000000001')

GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LayGiaNhoNhatTrongThayDoiGiaCuaSanPham]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UDF_LayGiaNhoNhatTrongThayDoiGiaCuaSanPham]
(
    @MA_SP VARCHAR(15)
)
RETURNS INT
AS
BEGIN
    DECLARE @result INT = 0;
    DECLARE @temp INT = 0;
    DECLARE @MA_CT_SP INT;

    DECLARE cursorMaCTSP CURSOR FOR -- khai báo con trỏ cursorMaCTSP
    SELECT CTSP.MA_CT_SP
    FROM
    (
        SELECT CTSP.MA_CT_SP
        FROM
        (SELECT SP.MA_SP FROM dbo.SAN_PHAM SP WHERE SP.MA_SP = @MA_SP) SP
            INNER JOIN dbo.CHI_TIET_SAN_PHAM CTSP
                ON CTSP.MA_SP = SP.MA_SP
    ) CTSP; -- dữ liệu trỏ tới
    OPEN cursorMaCTSP; -- Mở con trỏ

    FETCH NEXT FROM cursorMaCTSP -- Đọc dòng đầu tiên

    INTO @MA_CT_SP;
    --init result đầu tiên, vì nếu không thì khi vào while temp đều lớn hơn 0, nên result luôn = 0
    IF (@@FETCH_STATUS = 0)
        SET @result =
    (
        SELECT TOP (1)
               TDG.GIA
        FROM dbo.THAY_DOI_GIA TDG
        WHERE TDG.MA_CT_SP = @MA_CT_SP
        ORDER BY TDG.NGAY_THAY_DOI DESC
    )   ;

    WHILE @@FETCH_STATUS = 0 --vòng lặp WHILE khi đọc Cursor thành công
    BEGIN
        SET @temp =
        (
            SELECT TOP (1)
                   TDG.GIA
            FROM dbo.THAY_DOI_GIA TDG
            WHERE TDG.MA_CT_SP = @MA_CT_SP
            ORDER BY TDG.NGAY_THAY_DOI DESC
        );
        IF (@result > @temp)
            SET @result = @temp;

        FETCH NEXT FROM cursorMaCTSP -- Đọc dòng tiếp
        INTO @MA_CT_SP;
    END;

    CLOSE cursorMaCTSP; -- Đóng Cursor
    DEALLOCATE cursorMaCTSP; -- Giải phóng tài nguyên
    RETURN @result;
END;

--SELECT dbo.[UDF_LayGiaNhoNhatCuaSizeTrongThayDoiGiaCuaSanPham] ('SP0000000000001')
--SELECT dbo.[UDF_LayGiaLonNhatCuaSizeTrongThayDoiGiaCuaSanPham] ('SP0000000000001')
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LaySoDonNhanVienDangGiao]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UDF_LaySoDonNhanVienDangGiao]
(
    @MA_NV VARCHAR(15)
)
RETURNS INT
AS
BEGIN
    DECLARE @RETURN_VAL INT = -1;

    --trạng thái 1: đang giao
    SET @RETURN_VAL =
    (
        SELECT COUNT(*)
        FROM dbo.GIO_HANG
        WHERE MA_NV_GIAO = @MA_NV
              AND TRANG_THAI = 1
    );
    RETURN @RETURN_VAL;
END;

--SELECT dbo.UDF_LayStringSize('SP0000000000001')
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LayStringGia]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UDF_LayStringGia] (@MA_SP VARCHAR(15)) 
    RETURNS VARCHAR(50)
AS
    BEGIN 
	DECLARE @RETURN_VAL VARCHAR(50) = ''
		DECLARE @giaSizeNhoNhat INT
        DECLARE @giaSizeLonNhat INT
		IF EXISTS(SELECT * FROM dbo.CHI_TIET_SAN_PHAM WHERE MA_SP = @MA_SP)
		BEGIN
			SET @giaSizeNhoNhat = dbo.[UDF_LayGiaNhoNhatTrongThayDoiGiaCuaSanPham](@MA_SP)
			SET @giaSizeLonNhat = dbo.[UDF_LayGiaLonNhatTrongThayDoiGiaCuaSanPham](@MA_SP)
			--RETURN CONCAT(@giaSizeNhoNhat+'', '-', @giaSizeLonNhat+'')
			IF(@giaSizeNhoNhat=@giaSizeLonNhat) -- trường hợp sp chỉ có 1 size
					BEGIN
						SET @RETURN_VAL = CAST(@giaSizeNhoNhat AS VARCHAR(20))
						RETURN @RETURN_VAL
					END
			
			SET @RETURN_VAL = CONCAT(CAST(@giaSizeNhoNhat AS VARCHAR(20)),' - ',CAST(@giaSizeLonNhat AS  VARCHAR(20)))
			RETURN @RETURN_VAL
		END
			RETURN @RETURN_VAL
	END 
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LayStringGiaDaGiam]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UDF_LayStringGiaDaGiam] (@MA_SP VARCHAR(15)) 
    RETURNS VARCHAR(50)
AS
    BEGIN 
	DECLARE @RETURN_VAL VARCHAR(50) = ''
		DECLARE @giaSizeNhoNhat INT
        DECLARE @giaSizeLonNhat INT
		DECLARE @phanTramGiam SMALLINT
		DECLARE @MA_KM VARCHAR(15)
		IF EXISTS(SELECT * FROM dbo.CHI_TIET_KHUYEN_MAI WHERE MA_SP = @MA_SP)
		BEGIN
			SET @MA_KM = (SELECT MA_KM FROM dbo.CHI_TIET_KHUYEN_MAI WHERE MA_SP = @MA_SP)
			IF(dbo.UDF_KiemTraDotKhuyenMaiDangKhuyenMai(@MA_KM)=1)
			BEGIN
				SET @phanTramGiam = (SELECT PHAN_TRAM_GIAM FROM dbo.CHI_TIET_KHUYEN_MAI WHERE MA_SP = @MA_SP)
				IF EXISTS(SELECT * FROM dbo.CHI_TIET_SAN_PHAM WHERE MA_SP = @MA_SP)
				BEGIN
					SET @giaSizeNhoNhat = dbo.[UDF_LayGiaNhoNhatTrongThayDoiGiaCuaSanPham](@MA_SP)
					SET @giaSizeLonNhat = dbo.[UDF_LayGiaLonNhatTrongThayDoiGiaCuaSanPham](@MA_SP)

					SET @giaSizeNhoNhat = @giaSizeNhoNhat - @giaSizeNhoNhat*@phanTramGiam/100
					SET @giaSizeLonNhat = @giaSizeLonNhat - @giaSizeLonNhat*@phanTramGiam/100
					--RETURN CONCAT(@giaSizeNhoNhat+'', '-', @giaSizeLonNhat+'')
					IF(@giaSizeNhoNhat=@giaSizeLonNhat) -- trường hợp sp chỉ có 1 size
					BEGIN
						SET @RETURN_VAL = CAST(@giaSizeNhoNhat AS VARCHAR(20))
						RETURN @RETURN_VAL
					END
					SET @RETURN_VAL = CONCAT(CAST(@giaSizeNhoNhat AS VARCHAR(20)),' - ',CAST(@giaSizeLonNhat AS  VARCHAR(20)))
					RETURN @RETURN_VAL
				END
					
			END

			RETURN @RETURN_VAL
		END
		RETURN @RETURN_VAL
	END 
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LayStringSize]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UDF_LayStringSize] (@MA_SP VARCHAR(15)) 
    RETURNS NVARCHAR(50)
AS
    BEGIN 
	DECLARE @RETURN_VAL NVARCHAR(50) = ''
	DECLARE @RETURN_COLOR INT = 0	
		IF EXISTS(SELECT * FROM dbo.CHI_TIET_SAN_PHAM WHERE MA_SP = @MA_SP)
		BEGIN
			SELECT @RETURN_VAL = COALESCE(@RETURN_VAL + ',', '') + S.TEN_SIZE  FROM (SELECT DISTINCT BANG_SIZE.MA_SIZE, TEN_SIZE FROM dbo.CHI_TIET_SAN_PHAM INNER JOIN dbo.BANG_SIZE ON BANG_SIZE.MA_SIZE = CHI_TIET_SAN_PHAM.MA_SIZE WHERE MA_SP = @MA_SP) AS S
			SELECT @RETURN_COLOR = COUNT (*) FROM (SELECT DISTINCT BANG_MAU.MA_MAU, TEN_MAU FROM dbo.CHI_TIET_SAN_PHAM INNER JOIN dbo.BANG_MAU ON BANG_MAU.MA_MAU = CHI_TIET_SAN_PHAM.MA_MAU WHERE MA_SP = @MA_SP) AS M

			RETURN @RETURN_VAL + '; ' + CAST(@RETURN_COLOR AS VARCHAR(50)) + N' màu'
		END
			RETURN @RETURN_VAL
	END 

	--SELECT dbo.UDF_LayStringSize('SP0000000000001')
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LayTongSoLuongTonCuaMotSP]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UDF_LayTongSoLuongTonCuaMotSP] (@MA_SP VARCHAR(15)) 
    RETURNS INT
AS
    BEGIN 
	DECLARE @sum INT = 0;
		SELECT @sum = SUM(SL_TON) FROM dbo.CHI_TIET_SAN_PHAM WHERE dbo.CHI_TIET_SAN_PHAM.MA_SP=@MA_SP
	RETURN @sum
	END 

--SELECT dbo.[UDF_LayTongSoLuongTonCuaMotSP] ('SP0000000000001')
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_TONG_SL_MUA_CUA_SP_TRONG_N_THANG_GAN_NHAT]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UDF_TONG_SL_MUA_CUA_SP_TRONG_N_THANG_GAN_NHAT]
(
    @MA_SP VARCHAR(15),
	@N INT
)
RETURNS INT
AS
BEGIN
    DECLARE @result INT = 0;
	DECLARE @d DATETIME = DATEADD(MONTH,-@N, GETDATE())
        SET @result =
        (
            SELECT SUM (SO_LUONG) FROM dbo.CHI_TIET_GIO_HANG 
			INNER JOIN (SELECT * FROM GIO_HANG WHERE GIO_HANG.TRANG_THAI <> -1 ) GIO_HANG
			ON GIO_HANG.ID_GH = CHI_TIET_GIO_HANG.ID_GH
			INNER JOIN CHI_TIET_SAN_PHAM ON CHI_TIET_GIO_HANG.MA_CT_SP = CHI_TIET_SAN_PHAM.MA_CT_SP
			WHERE CHI_TIET_SAN_PHAM.MA_SP = @MA_SP AND (MONTH(NGAY_TAO) >= MONTH(@d) AND (YEAR(NGAY_TAO) >= YEAR(@d)))
        );
    RETURN @result;
END;

--SELECT dbo.[UDF_LayGiaNhoNhatCuaSizeTrongThayDoiGiaCuaSanPham] ('SP0000000000001')
--SELECT dbo.[UDF_LayGiaLonNhatCuaSizeTrongThayDoiGiaCuaSanPham] ('SP0000000000001')
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_TRI_GIA_CUA_GH]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UDF_TRI_GIA_CUA_GH]
(
    @ID_GH INT
)
RETURNS INT
AS
BEGIN
    DECLARE @result INT = 0;
   
        SET @result =
        (
            SELECT SUM (SO_LUONG * GIA) FROM dbo.CHI_TIET_GIO_HANG WHERE ID_GH = @ID_GH
        );
    RETURN @result;
END;

--SELECT dbo.[UDF_LayGiaNhoNhatCuaSizeTrongThayDoiGiaCuaSanPham] ('SP0000000000001')
--SELECT dbo.[UDF_LayGiaLonNhatCuaSizeTrongThayDoiGiaCuaSanPham] ('SP0000000000001')
GO
/****** Object:  Table [dbo].[BANG_MAU]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_MAU](
	[MA_MAU] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TEN_MAU] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TEN_TIENG_ANH] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_BANG_MAU] PRIMARY KEY CLUSTERED 
(
	[MA_MAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANG_SIZE]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_SIZE](
	[MA_SIZE] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TEN_SIZE] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_BANG_SIZE] PRIMARY KEY CLUSTERED 
(
	[MA_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_DAT_HANG_PENDING_DELETE]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_DAT_HANG_PENDING_DELETE](
	[MA_DDH] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_CT_SP] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SO_LUONG] [int] NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DDH] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_GIO_HANG]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_GIO_HANG](
	[ID_GH] [int] NOT NULL,
	[MA_CT_SP] [int] NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[GIA] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_GIO_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_GH] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_KHUYEN_MAI]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_KHUYEN_MAI](
	[MA_KM] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_SP] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PHAN_TRAM_GIAM] [smallint] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_KM] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_NHAP]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_NHAP](
	[MA_PN] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_CT_SP] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[GIA] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_PN] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_TRA]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_TRA](
	[MA_PT] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_CT_SP] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_TRA] PRIMARY KEY CLUSTERED 
(
	[MA_PT] ASC,
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_SAN_PHAM]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SAN_PHAM](
	[MA_CT_SP] [int] IDENTITY(1,1) NOT NULL,
	[MA_SP] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_MAU] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MA_SIZE] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SL_TON] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_CT_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_GIA_SAN_PHAM]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA_SAN_PHAM](
	[MA_KH] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_SP] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DANH_GIA] [smallint] NOT NULL,
	[NOI_DUNG] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NGAY_DANH_GIA] [datetime] NOT NULL,
 CONSTRAINT [PK_DANH_GIA_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG_PENDING_DELETE]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG_PENDING_DELETE](
	[MA_DDH] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_NCC] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NGAY_TAO] [datetime] NULL,
	[MA_NV] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIO_HANG]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIO_HANG](
	[ID_GH] [int] IDENTITY(1,1) NOT NULL,
	[MA_KH] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HO_TEN] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SDT] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGAY_GIAO] [datetime] NULL,
	[DIA_CHI] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GHI_CHU] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TRANG_THAI] [smallint] NULL,
	[MA_NV_DUYET] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MA_NV_GIAO] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_GIO_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_GH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH_ANH_SAN_PHAM]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH_ANH_SAN_PHAM](
	[MA_SP] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_MAU] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HINH_ANH] [nvarchar](400) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_HINH_ANH_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC,
	[MA_MAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ID_GH] [int] NOT NULL,
	[NGAY_TAO] [datetime] NOT NULL,
	[MA_NV] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HO_TEN] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SDT] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DIA_CHI] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MA_SO_THUE] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MA_TK] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MA_KM] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_NV] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NGAY_AP_DUNG] [datetime] NULL,
	[THOI_GIAN] [int] NULL,
	[MO_TA] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP_PENDING_DELETE]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP_PENDING_DELETE](
	[MA_NCC] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TEN_NCC] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DIA_CHI] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SDT] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HO_TEN] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SDT] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DIA_CHI] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CMND] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MA_TK] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MA_PN] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NGAY_TAO] [datetime] NOT NULL,
	[MA_NV] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_TRA]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_TRA](
	[MA_PT] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_HD] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NGAY_TAO] [datetime] NOT NULL,
	[MA_NV] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_PHIEU_TRA] PRIMARY KEY CLUSTERED 
(
	[MA_PT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MA_QUYEN] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TEN_QUYEN] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MA_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SP] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TEN_SP] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[MA_TL] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LUOT_XEM] [int] NOT NULL,
	[NGAY_TAO] [datetime] NOT NULL,
	[HINH_ANH] [varchar](400) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MO_TA] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MA_TK] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MAT_KHAU] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_QUYEN] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAY_DOI_GIA]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAY_DOI_GIA](
	[MA_NV] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_CT_SP] [int] NOT NULL,
	[NGAY_THAY_DOI] [datetime] NOT NULL,
	[GIA] [int] NOT NULL,
 CONSTRAINT [PK_THAY_DOI_GIA] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC,
	[MA_CT_SP] ASC,
	[NGAY_THAY_DOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THE_LOAI]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_LOAI](
	[MA_TL] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TEN_TL] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[CAP_TL] [smallint] NOT NULL,
	[MA_TL_CHA] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_THE_LOAI] PRIMARY KEY CLUSTERED 
(
	[MA_TL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TI_GIA]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TI_GIA](
	[MA_NV] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NGAY_AP_DUNG] [datetime] NOT NULL,
	[TI_GIA] [int] NULL,
 CONSTRAINT [PK_TI_GIA] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC,
	[NGAY_AP_DUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEU_THICH_SAN_PHAM]    Script Date: 25/10/2022 1:20:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEU_THICH_SAN_PHAM](
	[MA_KH] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MA_SP] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NGAY_THEM] [datetime] NOT NULL,
 CONSTRAINT [PK_YEU_THICH_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANG_MAU] ([MA_MAU], [TEN_MAU], [TEN_TIENG_ANH]) VALUES (N'M01', N'Đỏ', N'red')
INSERT [dbo].[BANG_MAU] ([MA_MAU], [TEN_MAU], [TEN_TIENG_ANH]) VALUES (N'M02', N'Vàng', N'yellow')
INSERT [dbo].[BANG_MAU] ([MA_MAU], [TEN_MAU], [TEN_TIENG_ANH]) VALUES (N'M03', N'Xanh dương', N'blue')
GO
INSERT [dbo].[BANG_SIZE] ([MA_SIZE], [TEN_SIZE]) VALUES (N'S01', N'S')
INSERT [dbo].[BANG_SIZE] ([MA_SIZE], [TEN_SIZE]) VALUES (N'S02', N'M')
INSERT [dbo].[BANG_SIZE] ([MA_SIZE], [TEN_SIZE]) VALUES (N'S03', N'L')
GO
INSERT [dbo].[CHI_TIET_GIO_HANG] ([ID_GH], [MA_CT_SP], [SO_LUONG], [GIA]) VALUES (11, 5, 2, 160000)
INSERT [dbo].[CHI_TIET_GIO_HANG] ([ID_GH], [MA_CT_SP], [SO_LUONG], [GIA]) VALUES (11, 53, 1, 320000)
INSERT [dbo].[CHI_TIET_GIO_HANG] ([ID_GH], [MA_CT_SP], [SO_LUONG], [GIA]) VALUES (12, 57, 1, 420000)
GO
INSERT [dbo].[CHI_TIET_KHUYEN_MAI] ([MA_KM], [MA_SP], [PHAN_TRAM_GIAM]) VALUES (N'KM0001', N'SP0000000000001', 20)
INSERT [dbo].[CHI_TIET_KHUYEN_MAI] ([MA_KM], [MA_SP], [PHAN_TRAM_GIAM]) VALUES (N'KM0001', N'SP0000000000002', 20)
INSERT [dbo].[CHI_TIET_KHUYEN_MAI] ([MA_KM], [MA_SP], [PHAN_TRAM_GIAM]) VALUES (N'KM0001', N'SP0000000000003', 10)
GO
SET IDENTITY_INSERT [dbo].[CHI_TIET_SAN_PHAM] ON 

INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP], [MA_SP], [MA_MAU], [MA_SIZE], [SL_TON]) VALUES (1, N'SP0000000000001', N'M06', N'S01', 0)
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP], [MA_SP], [MA_MAU], [MA_SIZE], [SL_TON]) VALUES (2, N'SP0000000000001', N'M06', N'S02', 0)
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP], [MA_SP], [MA_MAU], [MA_SIZE], [SL_TON]) VALUES (3, N'SP0000000000001', N'M06', N'S03', 0)
GO
SET IDENTITY_INSERT [dbo].[CHI_TIET_SAN_PHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[GIO_HANG] ON 

INSERT [dbo].[GIO_HANG] ([ID_GH], [MA_KH], [HO_TEN], [SDT], [EMAIL], [NGAY_TAO], [NGAY_GIAO], [DIA_CHI], [GHI_CHU], [TRANG_THAI], [MA_NV_DUYET], [MA_NV_GIAO]) VALUES (11, N'KH0000001', N'Trần Quốc Cường', N'0398973338', N'tuanbq@gmail.com', CAST(N'2022-07-24T13:25:07.750' AS DateTime), NULL, N'97 Man Thiện', NULL, 0, NULL, NULL)
INSERT [dbo].[GIO_HANG] ([ID_GH], [MA_KH], [HO_TEN], [SDT], [EMAIL], [NGAY_TAO], [NGAY_GIAO], [DIA_CHI], [GHI_CHU], [TRANG_THAI], [MA_NV_DUYET], [MA_NV_GIAO]) VALUES (12, N'KH0000001', N'Bùi Quốc Tuấn', N'0398973338', N'tuanbq@gmail.com', CAST(N'2022-07-24T13:26:14.207' AS DateTime), NULL, N'97 Man Thiện', NULL, 0, NULL, NULL)
INSERT [dbo].[GIO_HANG] ([ID_GH], [MA_KH], [HO_TEN], [SDT], [EMAIL], [NGAY_TAO], [NGAY_GIAO], [DIA_CHI], [GHI_CHU], [TRANG_THAI], [MA_NV_DUYET], [MA_NV_GIAO]) VALUES (13, N'KH0000001', N'Lê Quốc Khánh', N'0398977777', N'tuanbq@gmail.com', CAST(N'2022-07-24T14:39:13.860' AS DateTime), NULL, N'95 Man Thiện', NULL, 1, N'NV01', N'NV02')
SET IDENTITY_INSERT [dbo].[GIO_HANG] OFF
GO
INSERT [dbo].[HINH_ANH_SAN_PHAM] ([MA_SP], [MA_MAU], [HINH_ANH]) VALUES (N'SP0000000000001', N'M05', N'https://iili.io/jaMN1f.jpg')
INSERT [dbo].[HINH_ANH_SAN_PHAM] ([MA_SP], [MA_MAU], [HINH_ANH]) VALUES (N'SP0000000000001', N'M06', N'https://drive.google.com/uc?export=view&id=1CHe7DXS1soKONug_S7c01vETaNDnwuDS')
INSERT [dbo].[HINH_ANH_SAN_PHAM] ([MA_SP], [MA_MAU], [HINH_ANH]) VALUES (N'SP0000000000001', N'M09', N'https://drive.google.com/uc?export=view&id=1TkPwFI8pp2EqceSnVg4W-rZTkLsi4JO3')
GO
INSERT [dbo].[HOA_DON] ([MA_HD], [ID_GH], [NGAY_TAO], [MA_NV]) VALUES (N'HD0309202202191', 22, CAST(N'2022-09-03T02:19:15.690' AS DateTime), N'NV01')
INSERT [dbo].[HOA_DON] ([MA_HD], [ID_GH], [NGAY_TAO], [MA_NV]) VALUES (N'HD0708202201411', 15, CAST(N'2022-08-07T13:41:14.773' AS DateTime), N'NV01')
INSERT [dbo].[HOA_DON] ([MA_HD], [ID_GH], [NGAY_TAO], [MA_NV]) VALUES (N'HD0708202202334', 18, CAST(N'2022-08-07T14:33:41.913' AS DateTime), N'NV01')
GO
INSERT [dbo].[KHACH_HANG] ([MA_KH], [HO_TEN], [SDT], [EMAIL], [DIA_CHI], [MA_SO_THUE], [MA_TK]) VALUES (N'KH0000001', N'Bùi Quốc Tuấn', N'0398973338', N'tuanbq@gmail.com', N'97 Man Thiện', N'61534616', N'TK01')
INSERT [dbo].[KHACH_HANG] ([MA_KH], [HO_TEN], [SDT], [EMAIL], [DIA_CHI], [MA_SO_THUE], [MA_TK]) VALUES (N'KH0000002', N'Lê Văn Khách', N'0987654321', N'khachlv@gmail.com', N'123 Man Thiện', N'41515161', N'TK04')
INSERT [dbo].[KHACH_HANG] ([MA_KH], [HO_TEN], [SDT], [EMAIL], [DIA_CHI], [MA_SO_THUE], [MA_TK]) VALUES (N'KH0309202202161', N'Nguyễn Văn Hàng', N'0337737733', N'hangnvm@gmail.com', N'23 Trường Chinh', N'42222111', N'TK0309202202161')
GO
INSERT [dbo].[KHUYEN_MAI] ([MA_KM], [MA_NV], [NGAY_AP_DUNG], [THOI_GIAN], [MO_TA]) VALUES (N'KM0001', N'NV01', CAST(N'2022-07-14T00:00:00.000' AS DateTime), 150, N'KM')
INSERT [dbo].[KHUYEN_MAI] ([MA_KM], [MA_NV], [NGAY_AP_DUNG], [THOI_GIAN], [MO_TA]) VALUES (N'KM0002', N'NV01', CAST(N'2022-11-30T00:00:00.000' AS DateTime), 140, N'KM')
GO
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [SDT], [EMAIL], [DIA_CHI], [CMND], [MA_TK]) VALUES (N'NV01', N'Bùi Văn Duyệt', N'0398973558', N'nhanvien@email.com', N'97 Man Thien', N'187854111', N'TK02')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [SDT], [EMAIL], [DIA_CHI], [CMND], [MA_TK]) VALUES (N'NV02', N'Nguyễn Văn Nhận', N'0398973558', N'nhanviengh1@email.com', N'97 Man Thien', N'187854221', N'TK03')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [SDT], [EMAIL], [DIA_CHI], [CMND], [MA_TK]) VALUES (N'NV03', N'Trần Giao Hàng', N'0981465167', N'nhanviengh2@gmail.com', N'123 Buu ta', N'187417111', N'TK05')
GO
INSERT [dbo].[QUYEN] ([MA_QUYEN], [TEN_QUYEN]) VALUES (N'Q01', N'NHAN_VIEN')
INSERT [dbo].[QUYEN] ([MA_QUYEN], [TEN_QUYEN]) VALUES (N'Q02', N'QUAN_LY')
INSERT [dbo].[QUYEN] ([MA_QUYEN], [TEN_QUYEN]) VALUES (N'Q03', N'KHACH_HANG')
GO
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MA_TL], [LUOT_XEM], [NGAY_TAO], [HINH_ANH], [MO_TA]) VALUES (N'SP0000000000001', N'Áo thun Rebook', N'TL02', 20067, CAST(N'2022-07-04T00:00:00.000' AS DateTime), N'https://iili.io/jaMN1f.jpg', N'Áo thun 3 màu 4 size ')
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MA_TL], [LUOT_XEM], [NGAY_TAO], [HINH_ANH], [MO_TA]) VALUES (N'SP0000000000002', N'Áo thun Adidas', N'TL02', 34, CAST(N'2022-07-04T00:00:00.000' AS DateTime), N'https://iili.io/jaMwqG.jpg', NULL)
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MA_TL], [LUOT_XEM], [NGAY_TAO], [HINH_ANH], [MO_TA]) VALUES (N'SP0000000000003', N'Quần kaki Lacoste', N'TL05', 22, CAST(N'2022-07-06T00:00:00.000' AS DateTime), N'https://iili.io/jaMhss.jpg', NULL)
GO
INSERT [dbo].[TAI_KHOAN] ([MA_TK], [MAT_KHAU], [MA_QUYEN]) VALUES (N'TK01', N'123456', N'Q03')
INSERT [dbo].[TAI_KHOAN] ([MA_TK], [MAT_KHAU], [MA_QUYEN]) VALUES (N'TK02', N'123456', N'Q01')
INSERT [dbo].[TAI_KHOAN] ([MA_TK], [MAT_KHAU], [MA_QUYEN]) VALUES (N'TK03', N'123456', N'Q04')
GO
INSERT [dbo].[THAY_DOI_GIA] ([MA_NV], [MA_CT_SP], [NGAY_THAY_DOI], [GIA]) VALUES (N'NV01', 1, CAST(N'2022-07-27T23:15:50.777' AS DateTime), 190000)
INSERT [dbo].[THAY_DOI_GIA] ([MA_NV], [MA_CT_SP], [NGAY_THAY_DOI], [GIA]) VALUES (N'NV01', 1, CAST(N'2022-09-01T00:00:00.000' AS DateTime), 160000)
INSERT [dbo].[THAY_DOI_GIA] ([MA_NV], [MA_CT_SP], [NGAY_THAY_DOI], [GIA]) VALUES (N'NV01', 2, CAST(N'2022-07-27T23:15:50.777' AS DateTime), 200000)
GO
INSERT [dbo].[THE_LOAI] ([MA_TL], [TEN_TL], [CAP_TL], [MA_TL_CHA]) VALUES (N'TL01', N'Áo', 1, NULL)
INSERT [dbo].[THE_LOAI] ([MA_TL], [TEN_TL], [CAP_TL], [MA_TL_CHA]) VALUES (N'TL02', N'Áo thun', 2, N'TL01')
INSERT [dbo].[THE_LOAI] ([MA_TL], [TEN_TL], [CAP_TL], [MA_TL_CHA]) VALUES (N'TL03', N'Áo khoác', 2, N'TL01')
GO
INSERT [dbo].[TI_GIA] ([MA_NV], [NGAY_AP_DUNG], [TI_GIA]) VALUES (N'NV01', CAST(N'2021-07-19T00:00:00.000' AS DateTime), 22000)
INSERT [dbo].[TI_GIA] ([MA_NV], [NGAY_AP_DUNG], [TI_GIA]) VALUES (N'NV01', CAST(N'2022-07-24T00:00:00.000' AS DateTime), 23000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CHI_TIET_SAN_PHAM]    Script Date: 25/10/2022 1:20:56 am ******/
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] ADD  CONSTRAINT [UK_CHI_TIET_SAN_PHAM] UNIQUE NONCLUSTERED 
(
	[MA_SP] ASC,
	[MA_SIZE] ASC,
	[MA_MAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ID_GH_HOA_DON]    Script Date: 25/10/2022 1:20:56 am ******/
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [UQ_ID_GH_HOA_DON] UNIQUE NONCLUSTERED 
(
	[ID_GH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EMAIL_KH]    Script Date: 25/10/2022 1:20:56 am ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [UQ_EMAIL_KH] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MA_TK_KHACH_HANG]    Script Date: 25/10/2022 1:20:56 am ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [UQ_MA_TK_KHACH_HANG] UNIQUE NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EMAIL]    Script Date: 25/10/2022 1:20:56 am ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UQ_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MA_TK]    Script Date: 25/10/2022 1:20:56 am ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UQ_MA_TK] UNIQUE NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_GIO_HANG_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CT_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG] CHECK CONSTRAINT [FK_CHI_TIET_GIO_HANG_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_GIO_HANG_GIO_HANG] FOREIGN KEY([ID_GH])
REFERENCES [dbo].[GIO_HANG] ([ID_GH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG] CHECK CONSTRAINT [FK_CHI_TIET_GIO_HANG_GIO_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_KHUYEN_MAI_KHUYEN_MAI] FOREIGN KEY([MA_KM])
REFERENCES [dbo].[KHUYEN_MAI] ([MA_KM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_KHUYEN_MAI] CHECK CONSTRAINT [FK_CHI_TIET_KHUYEN_MAI_KHUYEN_MAI]
GO
ALTER TABLE [dbo].[CHI_TIET_KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_KHUYEN_MAI_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_KHUYEN_MAI] CHECK CONSTRAINT [FK_CHI_TIET_KHUYEN_MAI_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CT_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP] FOREIGN KEY([MA_PN])
REFERENCES [dbo].[PHIEU_NHAP] ([MA_PN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_TRA_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CT_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_TRA_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_TRA_PHIEU_TRA] FOREIGN KEY([MA_PT])
REFERENCES [dbo].[PHIEU_TRA] ([MA_PT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_TRA_PHIEU_TRA]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_BANG_MAU] FOREIGN KEY([MA_MAU])
REFERENCES [dbo].[BANG_MAU] ([MA_MAU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_BANG_MAU]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_BANG_SIZE] FOREIGN KEY([MA_SIZE])
REFERENCES [dbo].[BANG_SIZE] ([MA_SIZE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_BANG_SIZE]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_SAN_PHAM]
GO
ALTER TABLE [dbo].[DANH_GIA_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_SAN_PHAM_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANH_GIA_SAN_PHAM] CHECK CONSTRAINT [FK_DANH_GIA_SAN_PHAM_KHACH_HANG]
GO
ALTER TABLE [dbo].[DANH_GIA_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_SAN_PHAM_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANH_GIA_SAN_PHAM] CHECK CONSTRAINT [FK_DANH_GIA_SAN_PHAM_SAN_PHAM]
GO
ALTER TABLE [dbo].[GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_GIO_HANG_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIO_HANG] CHECK CONSTRAINT [FK_GIO_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_GIO_HANG_NHAN_VIEN] FOREIGN KEY([MA_NV_DUYET])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[GIO_HANG] CHECK CONSTRAINT [FK_GIO_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_GIO_HANG_NHAN_VIEN1] FOREIGN KEY([MA_NV_GIAO])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[GIO_HANG] CHECK CONSTRAINT [FK_GIO_HANG_NHAN_VIEN1]
GO
ALTER TABLE [dbo].[HINH_ANH_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_HINH_ANH_SAN_PHAM_BANG_MAU] FOREIGN KEY([MA_MAU])
REFERENCES [dbo].[BANG_MAU] ([MA_MAU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HINH_ANH_SAN_PHAM] CHECK CONSTRAINT [FK_HINH_ANH_SAN_PHAM_BANG_MAU]
GO
ALTER TABLE [dbo].[HINH_ANH_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_HINH_ANH_SAN_PHAM_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HINH_ANH_SAN_PHAM] CHECK CONSTRAINT [FK_HINH_ANH_SAN_PHAM_SAN_PHAM]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_GIO_HANG] FOREIGN KEY([ID_GH])
REFERENCES [dbo].[GIO_HANG] ([ID_GH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_GIO_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_TAI_KHOAN] FOREIGN KEY([MA_TK])
REFERENCES [dbo].[TAI_KHOAN] ([MA_TK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_TAI_KHOAN]
GO
ALTER TABLE [dbo].[KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYEN_MAI_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHUYEN_MAI] CHECK CONSTRAINT [FK_KHUYEN_MAI_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_TAI_KHOAN] FOREIGN KEY([MA_TK])
REFERENCES [dbo].[TAI_KHOAN] ([MA_TK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_TRA_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_TRA] CHECK CONSTRAINT [FK_PHIEU_TRA_HOA_DON]
GO
ALTER TABLE [dbo].[PHIEU_TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_TRA_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_TRA] CHECK CONSTRAINT [FK_PHIEU_TRA_NHAN_VIEN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_THE_LOAI] FOREIGN KEY([MA_TL])
REFERENCES [dbo].[THE_LOAI] ([MA_TL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_THE_LOAI]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_QUYEN] FOREIGN KEY([MA_QUYEN])
REFERENCES [dbo].[QUYEN] ([MA_QUYEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_QUYEN]
GO
ALTER TABLE [dbo].[THAY_DOI_GIA]  WITH CHECK ADD  CONSTRAINT [FK_THAY_DOI_GIA_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CT_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CT_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THAY_DOI_GIA] CHECK CONSTRAINT [FK_THAY_DOI_GIA_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[THAY_DOI_GIA]  WITH CHECK ADD  CONSTRAINT [FK_THAY_DOI_GIA_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THAY_DOI_GIA] CHECK CONSTRAINT [FK_THAY_DOI_GIA_NHAN_VIEN]
GO
ALTER TABLE [dbo].[TI_GIA]  WITH CHECK ADD  CONSTRAINT [FK_TI_GIA_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TI_GIA] CHECK CONSTRAINT [FK_TI_GIA_NHAN_VIEN]
GO
ALTER TABLE [dbo].[YEU_THICH_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_YEU_THICH_SAN_PHAM_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[YEU_THICH_SAN_PHAM] CHECK CONSTRAINT [FK_YEU_THICH_SAN_PHAM_KHACH_HANG]
GO
ALTER TABLE [dbo].[YEU_THICH_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_YEU_THICH_SAN_PHAM_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[YEU_THICH_SAN_PHAM] CHECK CONSTRAINT [FK_YEU_THICH_SAN_PHAM_SAN_PHAM]
GO
/****** Object:  StoredProcedure [dbo].[BAO_CAO_DOANH_THU_N_NGAY_GAN_NHAT]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[BAO_CAO_DOANH_THU_N_NGAY_GAN_NHAT] @N INT
AS
BEGIN

	DECLARE @a INT = 0;

	IF EXISTS (SELECT * FROM sysobjects WHERE name='#tmp' and xtype='U')
			DROP TABLE #tmp
	CREATE TABLE #tmp (
		NGAY DATETIME
	)

	DECLARE @d DATE = GETDATE()
	set @d = dateAdd(DAY, 1, @d)
	WHILE @a<@N
		BEGIN
			set @d = dateAdd(DAY, -1, @d)
			INSERT INTO #tmp values(@d)
			set @a = @a + 1
		END
	--SELECT * FROM #tmp
	SELECT tmp.*, FORMAT(tmp.NGAY, 'dd/MM/yyyy') AS NGAY_STR , SUM(dbo.UDF_TRI_GIA_CUA_GH(GH.ID_GH)) AS TONG_TRI_GIA 
	FROM #tmp tmp left join (SELECT * FROM GIO_HANG WHERE TRANG_THAI<>-1) GH ON 
		DATEDIFF(day, CAST(tmp.NGAY as date), CAST(GH.NGAY_TAO as date)) = 0
	--CAST(tmp.NGAY as date) = CAST(GH.NGAY_TAO as date)
	--WHERE GH.TRANG_THAI <> -1

	GROUP BY NGAY
	ORDER BY NGAY ASC
END

--EXEC BAO_CAO_DOANH_THU_N_NGAY_GAN_NHAT 7

--DECLARE @a INT = 0;

--	IF EXISTS (SELECT * FROM sysobjects WHERE name='#tmp' and xtype='U')
--			DROP TABLE #tmp
--	ELSE
--	IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='#tmp' and xtype='U')
--		CREATE TABLE #tmp (
--			NGAY DATETIME
--		)
--	ELSE
--		DELETE FROM #tmp

--	DECLARE @d DATE = GETDATE()
--	WHILE @a<7
--		BEGIN
--			set @d = dateAdd(DAY, -1,@d)
--			INSERT INTO #tmp values(@d)
--			set @a = @a + 1
--		END
--SELECT tmp.* , SUM(dbo.UDF_TRI_GIA_CUA_GH(GH.ID_GH)) AS TONG_TRI_GIA  FROM #tmp tmp left join GIO_HANG GH 
--on DATEDIFF(day, CAST(tmp.NGAY as date), CAST(GH.NGAY_TAO as date)) = 0 WHERE GH.TRANG_THAI <> -1
--GROUP BY NGAY
GO
/****** Object:  StoredProcedure [dbo].[BAO_CAO_DOANH_THU_THEO_KHOANG]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[BAO_CAO_DOANH_THU_THEO_KHOANG] @fromDate DATETIME, @toDate DATETIME
AS
BEGIN
	IF EXISTS (SELECT * FROM sysobjects WHERE name='#tmp' and xtype='U')
		DROP TABLE #tmp

	CREATE TABLE #tmp (
		THANG DATETIME
	)

	DECLARE @d DATE = @fromDate
	WHILE DATEDIFF(MONTH, @d, @toDate) >= 0
		BEGIN
			INSERT INTO #tmp values(@d)
			set @d = dateAdd(MONTH, 1, @d)
		END
	--SELECT * FROM #tmp

	SET @toDate = dateadd(day, 1, @toDate)
	SELECT FORMAT(tmp.THANG, 'MM/yyyy') AS THANG, SUM(dbo.UDF_TRI_GIA_CUA_GH(GH.ID_GH)) AS TONG_TRI_GIA 
	FROM #tmp tmp left join (SELECT * FROM GIO_HANG WHERE (TRANG_THAI<>-1) AND (NGAY_TAO BETWEEN @fromDate AND @toDate)) GH ON 
		FORMAT(tmp.THANG, 'MM/yyyy') = FORMAT(GH.NGAY_TAO, 'MM/yyyy')
	GROUP BY tmp.THANG
END
GO
/****** Object:  StoredProcedure [dbo].[DUYET_GH__PENDING_DELETE]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DUYET_GH__PENDING_DELETE] @ID_GH INT, @MA_NV_DUYET VARCHAR(15)
AS
BEGIN
	UPDATE dbo.GIO_HANG SET TRANG_THAI = 1, MA_NV_DUYET = @MA_NV_DUYET WHERE ID_GH = @ID_GH

	IF @@ERROR <> 0
		BEGIN
		SELECT 'Lỗi duyệt' AS errorDesc
			RETURN
		END
	SELECT 'Duyệt đơn hàng thành công' AS responseMessage
END
GO
/****** Object:  StoredProcedure [dbo].[GIAO_GH_CHO_NV_GIAO]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GIAO_GH_CHO_NV_GIAO] @ID_GH INT,@MA_NV_DUYET VARCHAR(15), @MA_NV_GIAO VARCHAR(15)
AS
BEGIN
	UPDATE dbo.GIO_HANG SET TRANG_THAI = 1,MA_NV_DUYET = @MA_NV_DUYET, MA_NV_GIAO = @MA_NV_GIAO WHERE ID_GH = @ID_GH

	IF @@ERROR <> 0
		BEGIN
		SELECT 'Lỗi giao cho NV vận chuyển' AS errorDesc
			RETURN
		END
	SELECT 'Giao cho NV vận chuyển '+ @MA_NV_GIAO+ 'thành công'  AS responseMessage
END
GO
/****** Object:  StoredProcedure [dbo].[HOANTAT_GH]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[HOANTAT_GH] @ID_GH INT
AS
BEGIN
	UPDATE dbo.GIO_HANG SET TRANG_THAI = 2, NGAY_GIAO = GETDATE() WHERE ID_GH = @ID_GH

	IF @@ERROR <> 0
		BEGIN
		SELECT 'Lỗi hoàn tất đơn' AS errorDesc
			RETURN
		END
	SELECT 'Hoàn tất đơn hàng thành công' AS responseMessage
END
GO
/****** Object:  StoredProcedure [dbo].[HUY_GH]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[HUY_GH] @ID_GH INT
AS
BEGIN
	UPDATE dbo.GIO_HANG SET TRANG_THAI = -1 WHERE ID_GH = @ID_GH
	DECLARE @MA_CT_SP INT
	DECLARE @SL_TRONG_GH INT

	DECLARE cursorCTGioHang CURSOR FOR -- khai báo con trỏ cursorCTGioHang
	SELECT MA_CT_SP, SO_LUONG FROM CHI_TIET_GIO_HANG WHERE ID_GH = @ID_GH -- dữ liệu trỏ tới
        
    OPEN cursorCTGioHang; -- Mở con trỏ

    FETCH NEXT FROM cursorCTGioHang -- Đọc dòng đầu tiên
    INTO @MA_CT_SP, @SL_TRONG_GH;
    WHILE @@FETCH_STATUS = 0 --vòng lặp WHILE khi đọc Cursor thành công
    BEGIN

	-- trả lại số lượng đã đặt
		UPDATE CHI_TIET_SAN_PHAM SET SL_TON = (SL_TON + @SL_TRONG_GH) WHERE MA_CT_SP = @MA_CT_SP

        FETCH NEXT FROM cursorCTGioHang -- Đọc dòng tiếp
        INTO @MA_CT_SP, @SL_TRONG_GH;
    END;

    CLOSE cursorCTGioHang; -- Đóng Cursor
    DEALLOCATE cursorCTGioHang; -- Giải phóng tài nguyên

	IF @@ERROR <> 0
		BEGIN
		SELECT 'Lỗi hủy đơn' AS errorDesc
			RETURN
		END
	SELECT 'Hủy đơn hàng thành công' AS responseMessage
END
GO
/****** Object:  StoredProcedure [dbo].[KHACH_HANG_LOGIN]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[KHACH_HANG_LOGIN] @email VARCHAR(50), @password VARCHAR(30)
AS
BEGIN
	SELECT KH.*, TK.MA_QUYEN, Q.TEN_QUYEN FROM dbo.KHACH_HANG KH 
	INNER JOIN dbo.TAI_KHOAN TK ON TK.MA_TK = KH.MA_TK
	INNER JOIN dbo.QUYEN Q ON Q.MA_QUYEN = TK.MA_QUYEN 
		WHERE KH.EMAIL = @email AND TK.MAT_KHAU = @password
END
GO
/****** Object:  StoredProcedure [dbo].[KHACH_HANG_SIGN_UP]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[KHACH_HANG_SIGN_UP] @email VARCHAR(50), @password VARCHAR(30),
@diaChi nvarchar(200), @hoTen nvarchar(60), @soDienThoai varchar(15),@maKhachHang varchar(15),@maTaiKhoan varchar(15)
AS
BEGIN

	INSERT INTO TAI_KHOAN VALUES (@maTaiKhoan, @password, 'Q03')

	INSERT INTO KHACH_HANG(MA_KH, HO_TEN, DIA_CHI, EMAIL, SDT, MA_TK) VALUES(@maKhachHang, @hoTen, @diaChi, @email, @soDienThoai, @maTaiKhoan)

	SELECT KH.*, TK.MA_QUYEN, Q.TEN_QUYEN FROM dbo.KHACH_HANG KH 
	INNER JOIN dbo.TAI_KHOAN TK ON TK.MA_TK = KH.MA_TK
	INNER JOIN dbo.QUYEN Q ON Q.MA_QUYEN = TK.MA_QUYEN 
		WHERE KH.EMAIL = @email AND TK.MAT_KHAU = @password
END
GO
/****** Object:  StoredProcedure [dbo].[KIEM_TRA_KHACH_HANG_SIGN_UP]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[KIEM_TRA_KHACH_HANG_SIGN_UP] @email VARCHAR(50), @phone VARCHAR(15)
AS
BEGIN

	DECLARE @checkEmail varchar(1) = '0';
	DECLARE @checkPhone varchar(1) = '0';

	IF EXISTS(SELECT * FROM ((SELECT EMAIL, SDT FROM NHAN_VIEN) UNION ALL (SELECT EMAIL, SDT FROM KHACH_HANG)) B WHERE B.EMAIL = @email)
	BEGIN
		SET @checkEmail = '1';
	END

	IF EXISTS(SELECT * FROM ((SELECT EMAIL, SDT FROM NHAN_VIEN) UNION ALL (SELECT EMAIL, SDT FROM KHACH_HANG)) B WHERE B.SDT = @phone)
	BEGIN
		SET @checkPhone = '1';
	END

	SELECT @checkEmail AS EMAIL, @checkPhone AS SDT 
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_CHI_TIET_MOT_GIO_HANG]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROC [dbo].[LAY_CHI_TIET_MOT_GIO_HANG] @ID_GH INT
AS
BEGIN
	SELECT ROW_NUMBER() OVER (ORDER BY CTGH.ID_GH DESC) AS STT, CTGH.*,SP.MA_SP,SP.TEN_SP, SP.HINH_ANH, TL.TEN_TL, BS.TEN_SIZE  FROM dbo.CHI_TIET_GIO_HANG CTGH 
		INNER JOIN dbo.CHI_TIET_SAN_PHAM CTSP ON CTSP.MA_CT_SP = CTGH.MA_CT_SP
		INNER JOIN dbo.SAN_PHAM SP ON SP.MA_SP = CTSP.MA_SP 
		INNER JOIN  dbo.THE_LOAI TL ON TL.MA_TL = SP.MA_TL
		INNER JOIN dbo.BANG_SIZE BS ON BS.MA_SIZE = CTSP.MA_SIZE

		WHERE CTGH.ID_GH = @ID_GH
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_CT_SP_CUA_SP]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_CT_SP_CUA_SP] @productId VARCHAR(15)
AS
BEGIN
    SELECT CTSP.*,
           BS.TEN_SIZE,
           dbo.[UDF_LayGiaCuaChiTietSP](CTSP.MA_CT_SP) AS GIA,
		   BM.TEN_MAU,
		   BM.TEN_TIENG_ANH, -- tên màu tiếng anh làm class trên fe
		  (SELECT HINH_ANH FROM HINH_ANH_SAN_PHAM HASP WHERE HASP.MA_MAU = CTSP.MA_MAU AND HASP.MA_SP = @productId)HINH_ANH
    FROM dbo.SAN_PHAM S
        INNER JOIN dbo.CHI_TIET_SAN_PHAM CTSP
            ON CTSP.MA_SP = S.MA_SP
        INNER JOIN dbo.BANG_SIZE BS
            ON BS.MA_SIZE = CTSP.MA_SIZE
		INNER JOIN dbo.BANG_MAU BM
			ON CTSP.MA_MAU = BM.MA_MAU
		
    WHERE S.MA_SP = @productId
    ORDER BY GIA;

END;
GO
/****** Object:  StoredProcedure [dbo].[LAY_HINH_ANH_CUA_SP]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_HINH_ANH_CUA_SP] @productId VARCHAR(15)
AS
BEGIN
    SELECT HASP.*,
			BM.TEN_MAU,
			BM.TEN_TIENG_ANH
    FROM dbo.SAN_PHAM S
        INNER JOIN dbo.HINH_ANH_SAN_PHAM HASP ON S.MA_SP = HASP.MA_SP
		INNER JOIN dbo.BANG_MAU BM ON BM.MA_MAU = HASP.MA_MAU
    WHERE S.MA_SP = @productId
    ORDER BY HASP.MA_MAU;

END;
GO
/****** Object:  StoredProcedure [dbo].[LAY_HOA_DON_THEO_ID_GH]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LAY_HOA_DON_THEO_ID_GH]
	@ID_GH INT
AS
BEGIN
	SELECT * FROM HOA_DON WHERE ID_GH = @ID_GH
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_MOT_GIO_HANG]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LAY_MOT_GIO_HANG] @ID_GH INT
AS
BEGIN
	SELECT GH.*, (SELECT KH.HO_TEN FROM dbo.KHACH_HANG KH WHERE MA_KH = GH.MA_KH) AS HO_TEN_KH 
		, (SELECT HO_TEN FROM dbo.NHAN_VIEN WHERE MA_NV = GH.MA_NV_DUYET) AS TEN_NV_DUYET
		, (SELECT HO_TEN FROM dbo.NHAN_VIEN WHERE MA_NV = GH.MA_NV_GIAO) AS TEN_NV_GIAO
		, dbo.[UDF_TRI_GIA_CUA_GH](@ID_GH) AS TONG_TRI_GIA
		, (SELECT SDT FROM dbo.NHAN_VIEN WHERE MA_NV = GH.MA_NV_GIAO) AS SDT_NV_GIAO
	FROM dbo.GIO_HANG GH WHERE GH.ID_GH = @ID_GH
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_MOT_SP]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_MOT_SP] @productId VARCHAR(15)
AS
BEGIN
			SELECT S.*
				,TL.TEN_TL
				-- chỉ lấy phần trăm giảm nếu đợt khuyến mãi đó đang khuyến mãi (xem UDF_KiemTraDotKhuyenMaiDangKhuyenMai)
				, CASE WHEN dbo. UDF_KiemTraDotKhuyenMaiDangKhuyenMai(KM.MA_KM)=1 THEN CTKM.PHAN_TRAM_GIAM  ELSE NULL END as PHAN_TRAM_GIAM
				, dbo.UDF_LayStringGia(S.MA_SP) AS GIA_STR
				,dbo.UDF_LayStringGiaDaGiam(S.MA_SP) AS GIA_STR_DA_GIAM 
				, dbo.UDF_LayTongSoLuongTonCuaMotSP(S.MA_SP) AS TONG_SL_TON 
				FROM dbo.SAN_PHAM S LEFT JOIN dbo.CHI_TIET_KHUYEN_MAI CTKM ON CTKM.MA_SP = S.MA_SP
								LEFT JOIN dbo.KHUYEN_MAI KM ON KM.MA_KM = CTKM.MA_KM 
								LEFT JOIN dbo.THE_LOAI TL ON TL.MA_TL = S.MA_TL
							
							WHERE S.MA_SP = @productId
							ORDER BY S.NGAY_TAO DESC
								
	
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_NHAN_VIEN_VA_SO_DON_DANG_GIAO]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LAY_NHAN_VIEN_VA_SO_DON_DANG_GIAO]
AS
BEGIN
	SELECT NV.*, dbo.[UDF_LaySoDonNhanVienDangGiao](NV.MA_NV) AS SO_GH_NV_DANG_GIAO FROM dbo.NHAN_VIEN NV INNER JOIN TAI_KHOAN TK ON NV.MA_TK = TK.MA_TK
	WHERE TK.MA_QUYEN = 'Q04'
	ORDER BY SO_GH_NV_DANG_GIAO
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_SP_BAN_CHAY_TRONG_N_THANG]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_SP_BAN_CHAY_TRONG_N_THANG] @top INT = NULL, @n INT = NULL
AS
BEGIN
	IF(@top IS NULL)
	SET @top = (SELECT COUNT(*) FROM dbo.SAN_PHAM)

		BEGIN
			SELECT TOP(@top) S.*
				,TL.TEN_TL
				-- chỉ lấy phần trăm giảm nếu đợt khuyến mãi đó đang khuyến mãi (xem UDF_KiemTraDotKhuyenMaiDangKhuyenMai)
				, CASE WHEN dbo. UDF_KiemTraDotKhuyenMaiDangKhuyenMai(KM.MA_KM)=1 THEN CTKM.PHAN_TRAM_GIAM  ELSE NULL END as PHAN_TRAM_GIAM 
				, dbo.UDF_LayStringGia(S.MA_SP) AS GIA_STR
				, dbo.UDF_LayStringGiaDaGiam(S.MA_SP) AS GIA_STR_DA_GIAM
				, dbo.UDF_LayTongSoLuongTonCuaMotSP(S.MA_SP) AS TONG_SL_TON 
				, dbo.[UDF_TONG_SL_MUA_CUA_SP_TRONG_N_THANG_GAN_NHAT](S.MA_SP, @n) AS TONG_SL_DA_BAN
				FROM dbo.SAN_PHAM S
				LEFT JOIN dbo.CHI_TIET_KHUYEN_MAI CTKM ON CTKM.MA_SP = S.MA_SP
								LEFT JOIN dbo.KHUYEN_MAI KM ON KM.MA_KM = CTKM.MA_KM 
								LEFT JOIN dbo.THE_LOAI TL ON TL.MA_TL = S.MA_TL ORDER BY TONG_SL_DA_BAN DESC, S.NGAY_TAO DESC
		END
	
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_SP_DANG_KHUYEN_MAI]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_SP_DANG_KHUYEN_MAI] @top INT = NULL
AS
BEGIN
	IF(@top IS NULL)
	SET @top = (SELECT COUNT(*) FROM dbo.SAN_PHAM)
			SELECT TOP(@top) S.*,
				CTKM.PHAN_TRAM_GIAM,
				TL.TEN_TL,
				dbo.UDF_LayStringGia(S.MA_SP) AS GIA_STR,
				dbo.UDF_LayStringGiaDaGiam(S.MA_SP) AS GIA_STR_DA_GIAM,
				dbo.UDF_LayTongSoLuongTonCuaMotSP(S.MA_SP) AS TONG_SL_TON 

			FROM
				(SELECT * FROM dbo.KHUYEN_MAI KM WHERE dbo.UDF_KiemTraDotKhuyenMaiDangKhuyenMai(KM.MA_KM)=1) AS KM 
					INNER JOIN dbo.CHI_TIET_KHUYEN_MAI CTKM ON CTKM.MA_KM = KM.MA_KM
					INNER JOIN dbo.SAN_PHAM S ON S.MA_SP = CTKM.MA_SP
					LEFT JOIN dbo.THE_LOAI TL ON TL.MA_TL = S.MA_TL
			ORDER BY CTKM.PHAN_TRAM_GIAM DESC
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_SP_MOI_VE]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_SP_MOI_VE] @top INT = NULL
AS
BEGIN
	IF(@top IS NULL)
	SET @top = (SELECT COUNT(*) FROM dbo.SAN_PHAM)

		BEGIN
			SELECT TOP(@top) S.*
				,TL.TEN_TL
				-- chỉ lấy phần trăm giảm nếu đợt khuyến mãi đó đang khuyến mãi (xem UDF_KiemTraDotKhuyenMaiDangKhuyenMai)
				, CASE WHEN dbo. UDF_KiemTraDotKhuyenMaiDangKhuyenMai(KM.MA_KM)=1 THEN CTKM.PHAN_TRAM_GIAM  ELSE NULL END as PHAN_TRAM_GIAM 
				, dbo.UDF_LayStringGia(S.MA_SP) AS GIA_STR
				, dbo.UDF_LayStringGiaDaGiam(S.MA_SP) AS GIA_STR_DA_GIAM
				, dbo.UDF_LayTongSoLuongTonCuaMotSP(S.MA_SP) AS TONG_SL_TON 
				FROM dbo.SAN_PHAM S
				LEFT JOIN dbo.CHI_TIET_KHUYEN_MAI CTKM ON CTKM.MA_SP = S.MA_SP
								LEFT JOIN dbo.KHUYEN_MAI KM ON KM.MA_KM = CTKM.MA_KM 
								LEFT JOIN dbo.THE_LOAI TL ON TL.MA_TL = S.MA_TL ORDER BY S.NGAY_TAO DESC
		END
	
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_SP_XEM_NHIEU]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_SP_XEM_NHIEU] @top INT = NULL
AS
BEGIN
	IF(@top IS NULL)
	SET @top = (SELECT COUNT(*) FROM dbo.SAN_PHAM)
		
		BEGIN
			SELECT TOP(@top) S.*,
				TL.TEN_TL
				,TL.TEN_TL-- chỉ lấy phần trăm giảm nếu đợt khuyến mãi đó đang khuyến mãi (xem UDF_KiemTraDotKhuyenMaiDangKhuyenMai)
				,CASE WHEN dbo. UDF_KiemTraDotKhuyenMaiDangKhuyenMai(KM.MA_KM)=1 THEN CTKM.PHAN_TRAM_GIAM  ELSE NULL END as PHAN_TRAM_GIAM
				,dbo.UDF_LayStringGia(S.MA_SP) AS GIA_STR,
				dbo.UDF_LayStringGiaDaGiam(S.MA_SP) AS GIA_STR_DA_GIAM 
				, dbo.UDF_LayTongSoLuongTonCuaMotSP(S.MA_SP) AS TONG_SL_TON 
			FROM dbo.SAN_PHAM S LEFT JOIN dbo.CHI_TIET_KHUYEN_MAI CTKM ON CTKM.MA_SP = S.MA_SP
								LEFT JOIN dbo.KHUYEN_MAI KM ON KM.MA_KM = CTKM.MA_KM 
								LEFT JOIN dbo.THE_LOAI TL ON TL.MA_TL = S.MA_TL ORDER BY s.LUOT_XEM DESC
		END
	
END
-- EXEC [LAY_SP_XEM_NHIEU]
GO
/****** Object:  StoredProcedure [dbo].[LAY_TAT_CA_GIO_HANG]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LAY_TAT_CA_GIO_HANG] @TRANG_THAI INT
AS
BEGIN
    IF @TRANG_THAI = -2
    BEGIN
        SELECT GH.*, KH.HO_TEN AS HO_TEN_KH, KH.SDT AS SDT_KH, KH.EMAIL AS EMAIL_KH, 
		(SELECT HO_TEN FROM NHAN_VIEN WHERE MA_NV=GH.MA_NV_DUYET) AS TEN_NV_DUYET,
		(SELECT HO_TEN FROM NHAN_VIEN WHERE MA_NV=GH.MA_NV_GIAO) AS TEN_NV_GIAO
        FROM dbo.GIO_HANG GH INNER JOIN dbo.KHACH_HANG KH ON GH.MA_KH = KH.MA_KH
		ORDER BY NGAY_TAO DESC;
    END;
    ELSE
    BEGIN
         SELECT GH.*, KH.HO_TEN AS HO_TEN_KH, KH.SDT AS SDT_KH, KH.EMAIL AS EMAIL_KH,
		 (SELECT HO_TEN FROM NHAN_VIEN WHERE MA_NV = GH.MA_NV_DUYET) AS TEN_NV_DUYET,
		(SELECT HO_TEN FROM NHAN_VIEN WHERE MA_NV = GH.MA_NV_GIAO) AS TEN_NV_GIAO
        FROM dbo.GIO_HANG GH INNER JOIN dbo.KHACH_HANG KH ON GH.MA_KH = KH.MA_KH
		
        WHERE TRANG_THAI = @TRANG_THAI
		ORDER BY NGAY_TAO DESC;
    END;
END;

GO
/****** Object:  StoredProcedure [dbo].[LAY_TAT_CA_GIO_HANG_CUA_KH]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LAY_TAT_CA_GIO_HANG_CUA_KH] @TRANG_THAI INT, @MA_KH VARCHAR(15)
AS
BEGIN
    IF @TRANG_THAI = -2
    BEGIN
        SELECT *
        FROM dbo.GIO_HANG WHERE MA_KH = @MA_KH ORDER BY NGAY_TAO DESC
    END;
    ELSE
    BEGIN
        SELECT *
        FROM dbo.GIO_HANG
        WHERE TRANG_THAI = @TRANG_THAI AND MA_KH = @MA_KH ORDER BY NGAY_TAO DESC;
    END;
END;

GO
/****** Object:  StoredProcedure [dbo].[LAY_TAT_CA_GIO_HANG_NV_DANG_GIAO]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LAY_TAT_CA_GIO_HANG_NV_DANG_GIAO] @MANV_GIAO VARCHAR(15)
AS
BEGIN
        SELECT GH.*, KH.HO_TEN AS HO_TEN_KH, KH.SDT AS SDT_KH, KH.EMAIL AS EMAIL_KH  
        FROM dbo.GIO_HANG GH INNER JOIN dbo.KHACH_HANG KH ON GH.MA_KH = KH.MA_KH
        WHERE (TRANG_THAI = 1 OR TRANG_THAI = 2) AND MA_NV_GIAO = @MANV_GIAO ORDER BY TRANG_THAI ASC, NGAY_TAO DESC;
		--quan trọng: not and or
END;

--EXEC [LAY_TAT_CA_GIO_HANG_NV_DANG_GIAO] 'NV02'
GO
/****** Object:  StoredProcedure [dbo].[LAY_TAT_CA_SP]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_TAT_CA_SP] @top INT = NULL
AS
BEGIN
	IF(@top IS NULL)
	SET @top = (SELECT COUNT(*) FROM dbo.SAN_PHAM)
	
		BEGIN
			SELECT TOP(@top) S.*, TL.TEN_TL,
			dbo.UDF_LayStringGia(S.MA_SP) AS GIA_STR
				,dbo.UDF_LayStringGiaDaGiam(S.MA_SP) AS GIA_STR_DA_GIAM 
				, dbo.UDF_LayTongSoLuongTonCuaMotSP(S.MA_SP) AS TONG_SL_TON 
        ,dbo.UDF_LayStringSize(S.MA_SP) AS SIZE_STR
			FROM dbo.SAN_PHAM S LEFT JOIN dbo.THE_LOAI TL ON TL.MA_TL = S.MA_TL
		END
	
END

-- EXEC LAY_TAT_CA_SP 10

GO
/****** Object:  StoredProcedure [dbo].[LAY_THONG_TIN_THONG_KE_TONG_QUAN]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_THONG_TIN_THONG_KE_TONG_QUAN]
AS
BEGIN
	SELECT (SELECT COUNT(*) FROM SAN_PHAM) AS TONG_SO_SP 
	,(SELECT COUNT(*) FROM GIO_HANG) AS TONG_SO_GH
	,(SELECT SUM(dbo.UDF_TRI_GIA_CUA_GH(GIO_HANG.ID_GH)) FROM GIO_HANG WHERE TRANG_THAI<>-1) AS TONG_DOANH_THU
	,(SELECT COUNT(*) FROM KHACH_HANG) AS TONG_SO_KH
	,(SELECT COUNT(*) FROM GIO_HANG WHERE TRANG_THAI = 0) AS TONG_SO_GH_CHUA_DUYET
END;
GO
/****** Object:  StoredProcedure [dbo].[LAY_TI_GIA_HIEN_TAI]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[LAY_TI_GIA_HIEN_TAI]
AS
BEGIN
		SELECT TOP(1) TI_GIA FROM TI_GIA ORDER BY NGAY_AP_DUNG DESC
END
GO
/****** Object:  StoredProcedure [dbo].[NHAN_VIEN_LOGIN]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NHAN_VIEN_LOGIN] @email VARCHAR(50), @password VARCHAR(30)
AS
BEGIN
	SELECT NV.*, TK.MA_QUYEN, Q.TEN_QUYEN FROM dbo.NHAN_VIEN NV 
	INNER JOIN dbo.TAI_KHOAN TK ON TK.MA_TK = NV.MA_TK
	INNER JOIN dbo.QUYEN Q ON Q.MA_QUYEN = TK.MA_QUYEN 
		WHERE NV.EMAIL = @email AND TK.MAT_KHAU = @password
END
GO
/****** Object:  StoredProcedure [dbo].[TANG_LUOT_XEM]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[TANG_LUOT_XEM] @productId VARCHAR(15)
AS
BEGIN
		BEGIN TRANSACTION
			UPDATE dbo.SAN_PHAM SET LUOT_XEM = LUOT_XEM + 1 WHERE MA_SP=@productId 
			IF @@ERROR <> 0   
				BEGIN  
					-- Return 99 to the calling program to indicate failure.  
					PRINT N'An error occurred deleting the candidate information.'; 
					SELECT 'ERROR' AS errorDesc, '' AS responseMessage
				END 
		COMMIT TRANSACTION
		SELECT '' AS errorDesc, 'OK' AS responseMessage 
END
GO
/****** Object:  StoredProcedure [dbo].[TAO_HOA_DON]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TAO_HOA_DON]
	@MA_HD VARCHAR(15)
	,@ID_GH INT
	,@MA_NV VARCHAR(15) = NULL
AS
BEGIN
	IF EXISTS(SELECT * FROM HOA_DON WHERE ID_GH=@ID_GH)
	RETURN
		INSERT INTO HOA_DON(MA_HD, ID_GH, NGAY_TAO, MA_NV) VALUES (@MA_HD, @ID_GH, GETDATE(), @MA_NV)
		--UPDATE GIO_HANG SET MA_HD = @MA_HD WHERE ID_GH = @ID_GH // không cần vì gh với hóa đơn 1 - 1
END
GO
/****** Object:  StoredProcedure [dbo].[THEM_GIO_HANG]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[THEM_GIO_HANG]
	@MA_KH VARCHAR(15)
	,@HO_TEN NVARCHAR(60)
	,@SDT VARCHAR(15)
	,@EMAIL VARCHAR(50)
	,@DIA_CHI NVARCHAR(200)
	,@GHI_CHU NVARCHAR(500)
AS
BEGIN
	INSERT INTO dbo.GIO_HANG
	(
	    MA_KH,
	    HO_TEN,
	    SDT,
	    EMAIL,
	    NGAY_TAO,
	    DIA_CHI,
		GHI_CHU,
	    TRANG_THAI
	    --MA_NV_DUYET,
	    --MA_NV_GIAO
	)
	VALUES
	(   @MA_KH,        -- MA_KH - varchar(15)
	    @HO_TEN,       -- HO_TEN - nvarchar(60)
	    @SDT,        -- SDT - varchar(50)
	    @EMAIL,        -- EMAIL - varchar(50)
	    GETDATE(), -- NGAY_TAO - datetime
	    @DIA_CHI,       -- DIA_CHI - nvarchar(200)
		@GHI_CHU,
	    0        -- TRANG_THAI - smallint - 0: cho duyet
	    --'',        -- MA_NV_DUYET - varchar(15)
	    --''         -- MA_NV_GIAO - varchar(15)
	    )
		DECLARE @ID_GIO_HANG INT
		SET @ID_GIO_HANG = SCOPE_IDENTITY() 
		SELECT @ID_GIO_HANG AS ID_GIO_HANG
END
GO
/****** Object:  StoredProcedure [dbo].[THEM_VAO_CHI_TIET_GIO_HANG]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[THEM_VAO_CHI_TIET_GIO_HANG]
	@ID_GIO_HANG INT
	,@MA_CT_SP INT
	,@SO_LUONG INT
	,@GIA INT
	--,@RESULT INT OUTPUT
AS
BEGIN
	INSERT INTO dbo.CHI_TIET_GIO_HANG
	(
	    ID_GH,
	    MA_CT_SP,
	    SO_LUONG,
	    GIA
	)
	VALUES
	(   @ID_GIO_HANG, -- ID_GH - int
	    @MA_CT_SP, -- MA_CT_SP - int
	    @SO_LUONG, -- SO_LUONG - int
	    @GIA  -- GIA - int
	    )
	UPDATE dbo.CHI_TIET_SAN_PHAM SET SL_TON = SL_TON - @SO_LUONG WHERE MA_CT_SP=@MA_CT_SP
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_SP]    Script Date: 25/10/2022 1:20:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[TIM_SP] @top INT = NULL, @keyWord NVARCHAR(500) = NULL , @priceFrom Int = 0, @priceTo Int = 1000000
AS
BEGIN
	IF(@top IS NULL)
	SET @top = (SELECT COUNT(*) FROM dbo.SAN_PHAM)

		BEGIN

			SELECT TOP(@top) S.*,
				TL.TEN_TL
				,TL.TEN_TL-- chỉ lấy phần trăm giảm nếu đợt khuyến mãi đó đang khuyến mãi (xem UDF_KiemTraDotKhuyenMaiDangKhuyenMai)
				,CASE WHEN dbo. UDF_KiemTraDotKhuyenMaiDangKhuyenMai(KM.MA_KM)=1 THEN CTKM.PHAN_TRAM_GIAM  ELSE 0 END as PHAN_TRAM_GIAM
				,dbo.UDF_LayStringGia(S.MA_SP) AS GIA_STR,
				dbo.UDF_LayStringGiaDaGiam(S.MA_SP) AS GIA_STR_DA_GIAM
				,dbo.UDF_LayStringSize(S.MA_SP) AS SIZE_STR
				, dbo.UDF_LayTongSoLuongTonCuaMotSP(S.MA_SP) AS TONG_SL_TON

			FROM dbo.SAN_PHAM S LEFT JOIN dbo.CHI_TIET_KHUYEN_MAI CTKM ON CTKM.MA_SP = S.MA_SP
								LEFT JOIN dbo.KHUYEN_MAI KM ON KM.MA_KM = CTKM.MA_KM 
								LEFT JOIN dbo.THE_LOAI TL ON TL.MA_TL = S.MA_TL
								WHERE (S.TEN_SP LIKE '%'+@keyWord+'%' OR TL.TEN_TL LIKE '%'+@keyWord+'%')

								-- xét trường hợp khoảng giá trong khoảng cần tìm, đã giảm giá nếu có
								AND (dbo.[UDF_LayGiaNhoNhatDaGiamGiaTrongThayDoiGiaCuaSanPham](S.MA_SP) >= @priceFrom AND dbo.[UDF_LayGiaNhoNhatDaGiamGiaTrongThayDoiGiaCuaSanPham](S.MA_SP) <= @priceTo)
		END
	
END
 --EXEC [TIM_SP] NULL, N'áo khoa', 0, 1000000


GO
